.imgbackground {
    /* border: 2px solid black; */
    min-height: 600px;
    background-image: url("../images/fried-rice-bw.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
    background-position: 70% 150px;
} 

.imgLoading {
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 100%;
}

.imgThumb {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    max-width: 50px;
    max-height: 50px;
}